body {
  background-color: #F69899;
  font-family: "arcon";
  overflow: scroll;
}
body a {
  color: inherit;
  text-decoration: none;
  transition: color 0.25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
body .underbackground {
  background-color: #FAFAFA;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
}
body .underbackground .header {
  display: flex;
  position: absolute;
  top: calc(50% - 10px);
  left: 30px;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1000;
  color: #F69899;
  line-height: 32px;
}
body .underbackground .header a {
  font-size: 18px;
  padding: 0 10px;
}
body .underbackground .header a:hover {
  color: #AD5858;
}
body .underbackground .header .title {
  flex-grow: 1;
}
body .underbackground .header .title a {
  font-size: 32px;
}
body .backgrounds .background {
  position: absolute;
  height: 20px;
  left: 0px;
  right: 0px;
  top: 120px;
  -webkit-animation: bg 2s ease-in-out infinite;
          animation: bg 2s ease-in-out infinite;
}
body .backgrounds .background .head {
  position: absolute;
  bottom: 100%;
  left: 0px;
  right: 0px;
  height: 20px;
}
body .backgrounds .background.layer-3 {
  background-color: #FAF0F0;
  top: 110px;
}
body .backgrounds .background.layer-3 .head {
  background: url(https://i.koya.io/grapefruitwave_3.svg);
  background-position: -60px 0px;
}
body .backgrounds .background.layer-2 {
  background-color: #FBD7D7;
  top: 114px;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
body .backgrounds .background.layer-2 .head {
  background: url(https://i.koya.io/grapefruitwave_2.svg);
  background-position: -40px 0px;
}
body .backgrounds .background.layer-1 {
  height: 30px;
  background-color: #F69899;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
body .backgrounds .background.layer-1 .head {
  background: url(https://i.koya.io/grapefruitwave_1.svg);
}
body .backgrounds .strawimage {
  z-index: 10000;
  position: absolute;
  background-image: url(https://i.koya.io/grapefruit_straw.svg);
  background-size: 30px 1316px;
  width: 30px;
  height: 1097px;
  top: 70px;
  transform: rotate(6deg);
  right: 120px;
  -webkit-animation: straw 2s ease-in-out infinite;
          animation: straw 2s ease-in-out infinite;
}
body section.content {
  position: absolute;
  top: 150px;
  left: 20px;
  right: 220px;
  color: #fff;
}
body section.content h1, body section.content h2, body section.content h3, body section.content h4, body section.content h5, body section.content h6, body section.content p {
  margin: 0;
  font-weight: 400;
}
body section.content h1 {
  font-size: 32px;
}

@-webkit-keyframes bg {
  0%, 100% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(0px);
  }
}

@keyframes bg {
  0%, 100% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes straw {
  0%, 100% {
    transform: translateY(-2px) rotate(6deg);
  }
  50% {
    transform: translateY(0px) rotate(6deg);
  }
}
@keyframes straw {
  0%, 100% {
    transform: translateY(-2px) rotate(6deg);
  }
  50% {
    transform: translateY(0px) rotate(6deg);
  }
}


/*-------------------------*/
/*
  otra area de css imagenes
*/



.vintalight {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  padding: 50px 0;
}
.vintalight__container {
  position: relative;
  width: 90%;
  max-width: 10.5em;
  height: 12.25em;
  background-color: #fff;
  font-size: 30px;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 0.5s, margin 0.5s;
}
@media screen and (max-width: 500px) {
  .vintalight__container {
    max-width: 7.35em;
    height: 8.575em;
  }
}
.vintalight__container:nth-child(1) {
  transform: translate(40px, 30px) rotate(-30deg);
  z-index: 40;
}
.vintalight__container:nth-child(1):hover {
  transform: scale(1.15) translate(40px, 30px) rotate(0);
}
@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(1) {
    transform: translate(0) rotate(-30deg);
  }
  .vintalight__container:nth-child(1):hover {
    transform: scale(1.1) translate(0) rotate(0);
  }
}
.vintalight__container:nth-child(2) {
  transform: translate(30px, 20px) rotate(7deg);
  z-index: 50;
}
.vintalight__container:nth-child(2):hover {
  transform: scale(1.15) translate(30px, 20px) rotate(0);
}
@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(2) {
    transform: translate(0) rotate(7deg);
  }
  .vintalight__container:nth-child(2):hover {
    transform: scale(1.1) translate(0) rotate(0);
  }
}
.vintalight__container:nth-child(3) {
  transform: translate(-20px, 20px) rotate(20deg);
  z-index: 40;
}
.vintalight__container:nth-child(3):hover {
  transform: scale(1.15) translate(-20px, 20px) rotate(0);
}
@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(3) {
    transform: translate(0) rotate(20deg);
  }
  .vintalight__container:nth-child(3):hover {
    transform: scale(1.1) translate(0) rotate(0);
  }
}
.vintalight__container:nth-child(4) {
  transform: translate(40px, -10px) rotate(10deg);
  z-index: 30;
}
.vintalight__container:nth-child(4):hover {
  transform: scale(1.15) translate(40px, -10px) rotate(0);
}
@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(4) {
    transform: translate(0) rotate(10deg);
  }
  .vintalight__container:nth-child(4):hover {
    transform: scale(1.1) translate(0) rotate(0);
  }
}
.vintalight__container:nth-child(5) {
  transform: translate(30px, -20px) rotate(-20deg);
  z-index: 20;
}
.vintalight__container:nth-child(5):hover {
  transform: scale(1.15) translate(30px, -20px) rotate(0);
}
@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(5) {
    transform: translate(0) rotate(-20deg);
  }
  .vintalight__container:nth-child(5):hover {
    transform: scale(1.1) translate(0) rotate(0);
  }
}
.vintalight__container:nth-child(6) {
  transform: translate(30px, -40px) rotate(-10deg);
  z-index: 40;
}
.vintalight__container:nth-child(6):hover {
  transform: scale(1.15) translate(30px, -40px) rotate(0);
}
@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(6) {
    transform: translate(0) rotate(-10deg);
  }
  .vintalight__container:nth-child(6):hover {
    transform: scale(1.1) translate(0) rotate(0);
  }
}
.vintalight__container:hover {
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.4);
  z-index: 100;
}
@media screen and (max-width: 700px) {
  .vintalight__container:hover {
    margin: 0 25px;
  }
}
.vintalight__container:hover .vintalight__photo::before {
  transform: scale(1);
}
.vintalight__container.active, .vintalight__container.active:hover {
  transform: rotate(0) scale(1.25);
}
@media screen and (max-width: 500px) {
  .vintalight__container.active, .vintalight__container.active:hover {
    transform: rotate(0) scale(1.15);
  }
}
.vintalight__container.active {
  position: relative;
}
.vintalight__container.active .vintalight__photo {
  cursor: default;
}
.vintalight__container.active .vintalight__photo::before {
  display: none;
}
.vintalight__photo {
  position: relative;
  width: 9.25em;
  height: 9.25em;
  margin: 0.625em auto 0;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .vintalight__photo {
    width: 6.475em;
    height: 6.475em;
    margin: 0.4375em auto 0;
  }
}
.vintalight__photo::before {
  content: "Ver foto";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  transform: scale(0);
  transition: all 0.25s;
}
.vintalight__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vintalight__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.375em;
}
@media screen and (max-width: 500px) {
  .vintalight__caption {
    height: 1.6625em;
  }
}
.vintalight__text {
  color: #222;
  font-size: 1em;
  font-family: "Nanum Pen Script", cursive;
}
.vintalight-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  z-index: 10000;
  transition: opacity 0.5s;
}
.vintalight-overlay.active {
  opacity: 1;
}
.vintalight__button {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: #f53d3d;
  border: 3px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  cursor: pointer;
}


/*end otra area de imagenes*/





/*otroo cssss másssa*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dino {
  width: 16em;
  height: 20em;
  margin: 0 auto;
  position: relative;
  -webkit-animation: walk-bounce-animation 1.5s infinite;
  animation: walk-bounce-animation 1.5s infinite;
}

.dino__head {
  height: 47%;
  margin-left: 33.333%;
  width: 66.666%;
  position: relative;
}

.dino__head__back {
  background-color: #00a652;
  border: 0.25em solid #000;
  border-width: 0.35em 0 0 0.25em;
  border-top-left-radius: 100% 47%;
  height: 100%;
  width: 50%;
}

.dino__head__topfront {
  background-color: #00a652;
  border: 0.25em solid #000;
  border-top-right-radius: 100%;
  border-width: 0.35em 0.35em 0 0;
  display: block;
  height: 50%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 50%;
}

.dino__head__mouth {
  background-color: #00a652;
  border: 0.25em solid #000;
  border-bottom-right-radius: 100%;
  border-width: 0 0.35em 0.25em 0;
  display: block;
  height: 30%;
  left: 70%;
  position: absolute;
  top: 50%;
  width: 30%;
}

.dino__head__throat {
  background-color: #00a652;
  height: calc(30% + 0.7em);
  left: 40%;
  position: absolute;
  top: 50%;
  width: 30%;
}

.dino__head__throat:after {
  background-color: #f69899;
  border: 0.35em solid #000;
  border-top-left-radius: 100%;
  border-width: 0.25em 0 0 0.25em;
  content: " ";
  display: block;
  height: 40%;
  left: 0;
  position: absolute;
  top: 80%;
  width: 100%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.dino__head__eye {
  background-color: #000;
  border-radius: 50% 50% 46% 54% / 50% 45% 55% 50%;
  display: block;
  height: 1em;
  left: 65%;
  position: absolute;
  top: 27%;
  width: 1em;
  -webkit-animation: blink-animation 3s infinite;
  animation: blink-animation 3s infinite;
}

.dino__body {
  position: relative;
  height: 33.333%;
  width: 100%;
}

.dino__body__mid {
  background-color: #00a652;
  display: block;
  height: 100%;
  left: 13%;
  position: absolute;
  width: 50%;
}

.dino__body__mid:before {
  background-color: #f69899;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100% 100%;
  border-width: 0 0.25em 0.35em 0;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: -10%;
  width: 40%;
}

.dino__body__mid:after {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100% 50%;
  border-width: 0 0.25em 0.35em 0;
  content: " ";
  display: block;
  height: 100%;
  left: 80%;
  position: absolute;
  top: 20%;
  width: 30%;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.dino__arm {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 50% 70%;
  border-width: 0.25em 0.25em 0.25em 0;
  content: " ";
  position: absolute;
  display: block;
  height: 30%;
  left: 55%;
  bottom: 80%;
  width: 30%;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-animation: arm-sway-animation 15s infinite;
  animation: arm-sway-animation 15s infinite;
}

.dino__bottom {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100%;
  border-width: 0 0.35em 0.35em 0;
  content: " ";
  position: relative;
  display: block;
  height: 22%;
  left: 3%;
  bottom: 4.3%;
  width: 54%;
  -webkit-transform: rotate(-20deg) scaleX(-1);
  -ms-transform: rotate(-20deg) scaleX(-1);
  transform: rotate(-20deg) scaleX(-1);
}

.dino__tail {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-top-right-radius: 200%;
  border-top-left-radius: 200%;
  border-width: 0.35em 0.25em 0 0.25em;
  content: " ";
  position: absolute;
  display: block;
  height: 12.5%;
  left: 0;
  bottom: 12%;
  width: 14%;
  -webkit-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
}

.dino__back-leg {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-width: 0 0.25em 0.25em 0.25em;
  content: " ";
  position: absolute;
  display: block;
  height: 7%;
  left: 48%;
  bottom: 4%;
  width: 12%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-animation: back-leg-animation 3s infinite;
  animation: back-leg-animation 3s infinite;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.dino__front-leg {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-width: 0 0.25em 0.25em 0.25em;
  content: " ";
  position: absolute;
  display: block;
  height: 8%;
  left: 41%;
  bottom: 3%;
  width: 14%;
  -webkit-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  transform: rotate(-12deg);
  -webkit-animation: front-leg-animation 3s infinite;
  animation: front-leg-animation 3s infinite;
}

.floor {
  background-color: #303030;
  border-radius: 100%;
  display: block;
  height: 2em;
  position: relative;
  margin: 0 auto;
  width: 15em;
  top: -1.5em;
  left: -1em;
  opacity: 0.25;
  z-index: -1;
  -webkit-animation: shadow-animation 1.5s infinite;
  animation: shadow-animation 1.5s infinite;
}

@-webkit-keyframes blink-animation {
  0% {
    margin-top: 0;
    height: 1em;
  }

  1% {
    margin-top: 0.35em;
    height: 0.3em;
  }

  2% {
    margin-top: 0.45em;
    height: 0.1em;
  }

  4% {
    margin-top: 0.35em;
    height: 0.3em;
  }
  6% {
    margin-top: 0;
    height: 1em;
  }
}

@keyframes blink-animation {
  0% {
    margin-top: 0;
    height: 1em;
  }

  1% {
    margin-top: 0.35em;
    height: 0.3em;
  }

  2% {
    margin-top: 0.45em;
    height: 0.1em;
  }

  4% {
    margin-top: 0.35em;
    height: 0.3em;
  }
  6% {
    margin-top: 0;
    height: 1em;
  }
}

@-webkit-keyframes arm-sway-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  40% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  60% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  80% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@keyframes arm-sway-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  40% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  60% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  80% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@-webkit-keyframes front-leg-animation {
  0% {
    left: 41%;
    bottom: 3%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  15% {
    left: 37%;
    bottom: 1%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    left: 38%;
    bottom: 3%;
  }
}

@keyframes front-leg-animation {
  0% {
    left: 41%;
    bottom: 3%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  15% {
    left: 37%;
    bottom: 1%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    left: 38%;
    bottom: 3%;
  }
}

@-webkit-keyframes back-leg-animation {
  0% {
    left: 48%;
    bottom: 4%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  15% {
    left: 40%;
    bottom: 2%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    left: 38%;
    bottom: 3%;
  }
}

@keyframes back-leg-animation {
  0% {
    left: 48%;
    bottom: 4%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  15% {
    left: 40%;
    bottom: 2%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    left: 38%;
    bottom: 3%;
  }
}

@-webkit-keyframes walk-bounce-animation {
  0%,
  100% {
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes walk-bounce-animation {
  0%,
  100% {
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shadow-animation {
  0%,
  100% {
    width: 15em;
  }
  50% {
    width: 15.25em;
  }
}

@keyframes shadow-animation {
  0%,
  100% {
    width: 15em;
  }
  50% {
    width: 15.25em;
  }
}

/*fin css del dinosaurio*/


/*Inicio de otro css*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap");

body {
  font-family: "Montserrat";
  color: #424242;
}

.modo-oscuro {
  color: #fff;
  background-color: #424242;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.seccion {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-principal {
  font-size: 140px;
  margin: 0;
  color: white;
}

.titulo-principal span {
  color: #e91e63;
}

.texto-principal {

  font-size: 36px;
  /*width: 700px;*/
  text-align: justify;
  color: white;
 
}

.texto-secundario {
  font-size: 28px;
  /*width: 700px;*/
  text-align: center !important;
}

.titulo-secundario {
  font-size: 77px;
  margin: 0;
  text-align: center !important;
}

.seccion-secundaria {
  background-color: #fafafa;
}






/*css de chat de whatssapp*/

.chat {
  overflow: hidden;
  background: #ebe4db;
  padding: 17px 17px 7px;
  margin: 0 -20px;
  line-height: 1.3;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

@media (min-width: 530px) {
  .chat {
    margin: 0 0 0 -32px;
    padding-left: 32px;
  }
}

.chat-item,
.chat-direction {
  position: relative;
  background: #fff;
  padding: 7px 10px;
  margin: 0 40px 10px 0;
  border-radius: 0 7px 7px 7px;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
}

.page-chat {
  background: #e1ffc7;
  border-radius: 7px 0 7px 7px;
  margin: 0 0 10px 40px;
  align-self: flex-end;
}

.chat-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  border: solid 5px #fff;
  border-top-width: 15px;
  border-width: 6px 4px;
  border-color: #fff #fff transparent transparent;
}

.page-chat::before {
  top: 0;
  left: 100%;
  border-color: #e1ffc7 transparent transparent #e1ffc7;
  width: 0;
}

.chat-item .author {
  display: block;
  color: #ff702c;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 0 5px 0;
}

.server-chat .author {
  color: #4dbaba;
}

.page-chat .author {
  color: #778868;
}

.chat-item .author span {
  color: transparent;
}

.chat-item .time {
  float: right;
  font-size: 0.9rem;
  position: relative;
  top: 5px;
  left: 3px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

.chat-direction {
  border-radius: 7px;
  background: #d4eaf4;
  text-transform: uppercase;
  align-self: center;
  margin: 5px 0 15px 0;
  font-size: 0.9rem;
  line-height: 1;
  padding: 10px;
  color: #666;
}

.chat-nowrap {
  white-space: nowrap;
}


/*nuevo css*/

.flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

button {
  font-family: "Silkscreen", cursive;
  background-color: #d5d3cd;
}

.window {
  position: relative;
  padding: 2px;
  width: 98vw;
  max-width: 400px;
  min-width: 340px;
  background-color: #d5d3cd;
  box-shadow: 1px 0px #353535, 0px 1px #353535, -1px 0px #f4f4f4, 0px -1px #f4f4f4;
}
.window::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: rgba(34, 46, 44, 0.1) 0 2px 2px, rgba(34, 46, 44, 0.1) 0 10px 10px, rgba(34, 46, 44, 0.1) 0 18px 18px, rgba(34, 46, 44, 0.1) 0 26px 26px, rgba(34, 46, 44, 0.1) 0 34px 34px, rgba(34, 46, 44, 0.1) 0 42px 42px;
}
.window button {
  font-family: "Silkscreen", cursive;
  cursor: pointer;
}
.window .header {
  background-color: #04236b;
  color: #dfeaf2;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.window .header .btn {
  padding: 0 3px 0 0;
  font-size: 16px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 0;
  font-weight: bold;
  box-shadow: 0 -1px #353535, inset 2px 2px #f4f4f4, inset -2px -2px #353535;
}

.body {
  text-align: center;
  padding: 12px 0;
}
.body .icon {
  width: 3rem;
  height: 3rem;
  background-position-x: -11px !important;
  background-position-y: -40px !important;
  background-size: 21rem !important;
}
.body button {
  padding: 4px 24px;
  border: 2px #353535 solid;
  position: relative;
}
.body button:after {
  content: "";
  position: absolute;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  left: 3px;
  top: 3px;
  border: 1px #353535 dashed;
  border-radius: 1px;
}